In [1]:
from selenium import webdriver
import pandas as pd
import openpyxl as op
import time
import re
from datetime import date, timedelta
from dateutil.relativedelta import relativedelta
import numpy as np
get_number = re.compile('.*(?=\n)')
get_percent = re.compile('.*(?=%)')
get_url_without_slash = re.compile(".*[0-9a-z]")
password = !echo %password%

In [2]:
def reset():
    driver.get("https://analytics.google.com/analytics/web/?authuser=0#management/Settings/a10587421w80067081p84826225/")

def login():
    driver.get("https://analytics.google.com/analytics/web/?authuser=0#management/Settings/a10587421w80067081p84826225/")
    #아이디입력
    driver.find_element_by_css_selector('#Email').send_keys('taehun9312@gmail.com')
    driver.find_element_by_css_selector('#next').click()
    time.sleep(1)
    #비밀번호입력
    driver.find_element_by_css_selector('#Passwd').send_keys(password[0])
    driver.find_element_by_css_selector('#signIn').click()
    
def login2():
    driver.get("https://analytics.google.com/analytics/web/?authuser=0#management/Settings/a10587421w80067081p84826225/")
    #아이디입력
    driver.find_element_by_css_selector('#identifierId').send_keys('taehun9312@gmail.com')
    driver.find_element_by_css_selector('.RveJvd.snByac').click()
    time.sleep(1)
    #비밀번호입력
    driver.find_element_by_css_selector('.whsOnd.zHQkBf').send_keys(password[0])
    driver.find_element_by_css_selector('.RveJvd.snByac').click()
    
def s_to_i(value):
    value = value.replace(",","")
    value = int(value)
    return value

def check(compared_value):
    if type(compared_value) == list:
        for value in compared_value:
            if value in global_value: raise ValueError
    elif compared_value in global_value: raise ValueError
    else: print("No_duplication")
        
def get_pure_url(url):
    splited_url = url.split("/%")
    url = splited_url[0]
    url = get_url_without_slash.findall(url)[0]
    return url

def get_number_item(unprocessed_number):
    processed_number = unprocessed_number.split("(")[0]
    return s_to_i(processed_number)

        
def calculate_date(origin_date, interval, multiple_number):
    date_set = _get_date(origin_date)
    d1 = date(date_set["year"], date_set["month"], date_set["day"])
    if interval == "month":
        d2 = d1 + relativedelta(months=+1*multiple_number)
    else:
        d2 = d1 + timedelta(days = interval*multiple_number)
    next_date = _to_date(d2)
    return next_date

def _get_date(date):
    date = str(date)
    year = "20" + date[0:2]
    month = date[2:4]
    day = date[4:6]
    if month[0] == "0":
        month = month.replace("0","")
    return {"year": int(year), "month": int(month), "day": int(day)}

def _to_date(date):
    year = str(date.year)[2:4]
    if date.month < 10:
        month = "0" + str(date.month)
    else:
        month = str(date.month)
    if date.day < 10:
        day = "0" + str(date.day)
    else:    
        day = str(date.day)
    return year+month+day

In [3]:
class GA:
    
    def __init__(self, url):
        global start
        global end 
        self.df = pd.DataFrame()
        self.date = "/%3F_u.date00%3D20{start}%26_u.date01%3D20{end}".format(start= start, end=end)
        self.original_url = url
        self.url = get_pure_url(url) + self.date
        self.start = start
        self.end = end
        self.retry = 10
        self.days = 1
        self.df_start = str(start)
        self.df_end = str(end)
        self.dic_values = {}
        self.seg = "0"
        driver.get(self.url)
        
    def set_date(self, interval, number):
        self.interval = interval
        self.days = number

    def set_segment_url(self, seg, keep):
        if keep == "on": self.seg = seg
        self.url = get_url_without_slash.findall(self.url)[0] + seg
        self.df = self.df.transpose()
        #"%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ"
        self.go_changed_url(0)
        time.sleep(10)
        
    def set_tab(self, n_tab):
        self.tab = n_tab
        
    def set_value(self, n_value):
        if type(n_value) != list:
            self.value = [n_value]
        else:
            self.value = n_value
        
    def set_retry(self, n):
        self.retry = n
    
    def go_changed_url(self, n_try):
        try: 
            start = calculate_date(self.start, self.interval, n_try)
            end = calculate_date(self.end, self.interval, n_try)
            self.df_start = str(start)
            self.df_end = str(end)
            self.date =  "/%3F_u.date00%3D20{start}%26_u.date01%3D20{end}".format(start= start, end=end)
            if len(self.seg) > 1:
                self.url = get_pure_url(self.original_url) + self.date + self.seg
            else:
                self.url = get_pure_url(self.original_url) + self.date
            driver.get(self.url)
        except:
            driver.get(self.url)
        
    def get(self, numbers):
        for n_try in range(1, self.days+1):
            if type(numbers) == int:
                value = self._come_to_me(numbers)
                return value
            else:
                for n in numbers:
                    self.dic_values = self._fill_dic_values(n, self.dic_values)
            for title, value in self.dic_values.items():
                for n in range(0, 10):
                    try:
                        a = self.df.loc[self.df_start+" - "+self.df_end, title]
                        if str(a) == 'nan': raise KeyError
                    except KeyError:
                        if n == 0:
                            self.df.loc[self.df_start+" - "+self.df_end, title] = value
                        else:
                            title = title + str(n)
                            self.df.loc[self.df_start+" - "+self.df_end, title] = value
                        break
                    else:
                        continue
                        
                        
            if self.days > 1 and n_try < self.days: 
                    self.dic_values = {}
                    self.go_changed_url(n_try)  
        self.df = self.df.transpose()
 

    def _fill_dic_values(self, numbers, dic_values):
            n = numbers
            value = self._come_to_me(n)
            titles = self._get_title(self.value[n-1])
            
            if type(value) != list:
                if type(self.value[n-1]) != list:
                    #title 1, value 1
                    title = titles[0]
#                     if title in dic_values:
#                         title = title + str(n)
                    dic_values[title] = value
                else:
                    #titile more, value 1
                    nth = self.value[n-1][1]
                    title = titles[nth-1]
#                     if title in dic_values:
#                         title = title + str(n)
                    dic_values[title] = value
            else:
                #title more, value more
                for i, v in enumerate(value):
                    title = titles[i]
#                     if title in dic_values:
#                         title = title + str(n)
                    dic_values[title] = v 
            return dic_values
    
    def _come_to_me(self, n):
        global global_value
        error_check = "on"
        self._click_tab(n)
        value_spec = self.value[n-1]

        if type(value_spec) == list: 
            number = value_spec[0] 
            nth = value_spec[1]
        else: 
            number = value_spec
            nth = value_spec

        if type(value_spec) == list or value_spec == 1:
            value = self._get_value(nth, error_check)
            error_check = "off"
            value_for_compare = self._get_values(number, error_check)
        else:
            value_for_compare = self._get_values(number, error_check)
            value = value_for_compare
        global_value = value_for_compare
        return value

    def _get_title(self, n):
        arr_title = []
        unprocessed_titles = driver.find_elements_by_css_selector("._GArO")
        for title in unprocessed_titles:
            arr_title.append(title.text)
        return arr_title
    
    def get_percent(self, n):
        arr_value = driver.find_elements_by_css_selector("._GAj8")
        percent = arr_value[n-1].text
        processed_percent = float(get_percent.findall(percent)[0])
        print(processed_percent)
        return processed_percent
        
            
#     def get_item(self):
#         for i in range(0, self.retry):
#             try:
#                 #Screen name, Event lbael.. etc
#                 target_name = driver.find_elements_by_css_selector("._GAkub")[0].text
#                 #Unique screen view, screen view.. etc
#                 table_heads = driver.find_elements_by_css_selector("._GAYh.ACTION-sort")
#                 arr_table_heads = []
#                 for table_head in table_heads:
#                     arr_table_heads.append(table_head.text)
#                 num_cols = len(arr_table_heads)
#                 arr_table_heads.insert(0,target_name)
#                 #home_banner_1, home_banner_2.. etc
#                 target_list = driver.find_elements_by_css_selector("._GApu")
#                 #700, 600.. etc
#                 dataset = driver.find_elements_by_css_selector("._GAtjb")
#                 self.df = pd.DataFrame(columns = arr_table_heads)
#                 for row_num, target in enumerate(target_list):
#                     self.df[target_name, target] =
#                         for i in range(0, num_cols+1):
#                             df.loc[item,dataset[row_num*num_cols+i]
                        
#                         value = get_number_item(dataset[i*2+nth-1].text)
#                         check(value)
#                         print("It's ok")
#                         arr_data = []
#                         for data in dataset:
#                             arr_data.append(data.text)
#                         global_value = arr_data
#                         print(value)
#                         return value
#                 time.sleep(1)
#             except:
#                 time.sleep(4)
#                 print("It's not ok")
#                 continue
                        

    #n번째 값 가져오기
    def _get_value(self, n, error_check):
        for i in range(0, self.retry):
            try:
                print(i)
                value = driver.find_element_by_css_selector(".ID-stage{n}-top._GAhFb > ._GAXm > ._GAoCb".format(n = n)).text
                if n != 1: value = get_number.findall(value)[0]
                value = s_to_i(value)
                print("value is", value)
                if error_check == "on":
                    check(value)
                print("It's ok")
                break
            except:
                time.sleep(4)
                print("It's not ok")
                continue
        print(value)
        return value
    
    #n개의 값 가져오기
    def _get_values(self, range_n, error_check):
        arr_value = []
        for n in range(1, range_n+1):
            value = self._get_value(n, error_check)
            arr_value.append(value)
        print(arr_value)
        return arr_value

    
    #커스텀 리포트 내 탭
    def _click_tab(self, n):
        if n == 1:
            driver.get(self.url)
        else:
            for i in range(0, self.retry):
                try:
                    driver.find_elements_by_css_selector("._GAit._GAl")[n-1].click()
                    break
                except:

                    time.sleep(3)
                    print("It retry to click")
                    continue

In [4]:
# tab_category = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/C02IOMc8QBmCo6k8wf6aGQ/a10587421w80067081p102782120/%3F_u.date00%3D20170424%26_u.date01%3D20170425%26_.useg%3Dbuiltin13%26_r.tabId%3D3915/")
# tab_category.set_tab(5)
# tab_category.set_value([3,3,4,4])
# tab_category.set_date(1,30)
# tab_category.set_segment_url("%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ", "on")
# tab_category.get([1,2,3,4])

In [5]:
# excel = op.load_workbook(r"C:\Users\joseph_th\Desktop\Dashboard\Dashboard_for_GA.xlsx")
# s1 = excel["여행 Traffic overview"]["AC"]
# s2 = excel["여행 딜"]["W"]
# s3 = excel["실시간항공"]["Z"]
# s4 = excel["실시간호텔"]["U"]
# s5 = excel["APP 홈 기여"]["S"]
# excel.save(r"C:\Users\joseph_th\Desktop\Dashboard\Dashboard_for_GA_result.xlsx")

In [20]:
driver = webdriver.Chrome(executable_path=r"C:\Users\joseph_th\Downloads\chromedriver_win32\chromedriver")
login2()

In [21]:
global_value = []
start = 170623
end = 170623
reset()

In [7]:
And_pension = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/B57aNSs4Q0SKy_lraPnSCQ/a10587421w80067081p102782120/%3F_u.date00%3D20170621%26_u.date01%3D20170621%26_.useg%3Duser9FJNEm43QBOQAwVzqJKDqg/")
And_pension.set_tab(1)
And_pension.set_value([1])
#And_pension.set_date(1,10)
And_pension.get([1])
And_pension.set_segment_url("%26_.useg%3Duser9FJNEm43QBOQAwVzqJKDqg", "on")
And_pension.set_value([[2,2]])
And_pension.get([1])

0
It's not ok
1
value is 1545
No_duplication
It's ok
1545
0
value is 1545
It's ok
1545
[1545]
0
value is 7
No_duplication
It's ok
7
0
value is 15
It's ok
15
0
value is 7
It's ok
7
[15, 7]

In [8]:
iOS_pension = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/sHye_3PSRlWJzyR0rKrAcA/a10587421w80067081p88823264/%3F_u.date00%3D20170621%26_u.date01%3D20170621%26_.useg%3D/")
iOS_pension.set_tab(1)
iOS_pension.set_value([1])
#iOS_pension.set_date(1,10)
iOS_pension.get([1])
iOS_pension.set_segment_url("%26_.useg%3Duser9FJNEm43QBOQAwVzqJKDqg", "on")
iOS_pension.set_value([[2,2]])
iOS_pension.get([1])

0
value is 15
It's not ok
1
value is 547
No_duplication
It's ok
547
0
value is 547
It's ok
547
[547]
0
value is 3
No_duplication
It's ok
3
0
value is 7
It's ok
7
0
value is 3
It's ok
3
[7, 3]

In [22]:
pd.concat([And_pension.df, iOS_pension.df])

,170612 - 170612,170613 - 170613,170614 - 170614,170615 - 170615,170616 - 170616,170617 - 170617,170618 - 170618,170619 - 170619,170620 - 170620,170621 - 170621
펜션 기획전,1502.0,5074.0,2142.0,3468.0,2545.0,1563.0,1507.0,2206.0,1917.0,1869.0
구매완료,324.0,1071.0,524.0,580.0,179.0,97.0,111.0,206.0,157.0,195.0
펜션 기획전,581.0,2113.0,818.0,1296.0,1188.0,432.0,492.0,870.0,816.0,637.0
구매완료,90.0,416.0,172.0,242.0,67.0,24.0,44.0,74.0,73.0,69.0

In [39]:
# Only_category = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/Sfz1SwoFQdmPWUdByehArw/a10587421w80067081p102782120/%3F_u.date00%3D20170518%26_u.date01%3D20170518%26_.useg%3D/")
# Only_category.set_tab(2)
# Only_category.set_value([[2,1],[2,1]])
# Only_category.set_date(1,12)
# Only_category.get([1,2])
# Only_category.set_segment_url("%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ", "on")
# Only_category.set_value([[2,2],[2,2]])
# Only_category.get([1,2])

0
It's not ok
1
value is 603
No_duplication
It's ok
603
0
value is 603
It's ok
603
0
value is 23
It's ok
23
[603, 23]
0
value is 603
It's not ok
1
value is 4427
No_duplication
It's ok
4427
0
value is 4427
It's ok
4427
0
value is 299
It's ok
299
[4427, 299]
0
value is 4427
It's not ok
1
value is 4427
It's not ok
2
value is 2314
No_duplication
It's ok
2314
0
value is 2314
It's ok
2314
0
value is 116
It's ok
116
[2314, 116]
0
value is 2314
It's not ok
1
value is 1986
No_duplication
It's ok
1986
0
value is 1986
It's ok
1986
0
value is 105
It's ok
105
[1986, 105]
0
value is 1986
It's not ok
1
value is 3093
No_duplication
It's ok
3093
0
value is 3093
It's ok
3093
0
value is 138
It's ok
138
[3093, 138]
0
value is 3093
It's not ok
1
value is 3093
It's not ok
2
value is 1212
No_duplication
It's ok
1212
0
value is 1212
It's ok
1212
0
value is 67
It's ok
67
[1212, 67]
0
value is 1212
It's not ok
1
value is 3336
No_duplication
It's ok
3336
0
value is 3336
It's ok
3336
0
value is 185
It's ok
185
[3336, 185]
0
value is 3336
It's not ok
1
value is 1105
No_duplication
It's ok
1105
0
value is 1105
It's ok
1105
0
value is 62
It's ok
62
[1105, 62]
0
value is 1105
It's not ok
1
value is 3717
No_duplication
It's ok
3717
0
value is 3717
It's ok
3717
0
value is 189
It's ok
189
[3717, 189]
0
value is 3717
It's not ok
1
value is 907
No_duplication
It's ok
907
0
value is 907
It's ok
907
0
value is 45
It's ok
45
[907, 45]
0
value is 907
It's not ok
1
value is 3865
No_duplication
It's ok
3865
0
value is 3865
It's ok
3865
0
value is 223
It's ok
223
[3865, 223]
0
value is 3865
It's not ok
1
value is 766
No_duplication
It's ok
766
0
value is 766
It's ok
766
0
value is 42
It's ok
42
[766, 42]
0
value is 766
It's not ok
1
value is 3832
No_duplication
It's ok
3832
0
value is 3832
It's ok
3832
0
value is 192
It's ok
192
[3832, 192]
0
value is 3832
It's not ok
1
value is 696
No_duplication
It's ok
696
0
value is 696
It's ok
696
0
value is 34
It's ok
34
[696, 34]
0
value is 696
It's not ok
1
value is 696
It's not ok
2
value is 3326
No_duplication
It's ok
3326
0
value is 3326
It's ok
3326
0
value is 186
It's ok
186
[3326, 186]
0
value is 3326
It's not ok
1
value is 540
No_duplication
It's ok
540
0
value is 540
It's ok
540
0
value is 36
It's ok
36
[540, 36]
0
value is 540
It's not ok
1
value is 540
It's not ok
2
value is 3344
No_duplication
It's ok
3344
0
value is 3344
It's ok
3344
0
value is 240
It's ok
240
[3344, 240]
0
value is 3344
It's not ok
1
value is 514
No_duplication
It's ok
514
0
value is 514
It's ok
514
0
value is 33
It's ok
33
[514, 33]
0
value is 514
It's not ok
1
value is 514
It's not ok
2
value is 3872
No_duplication
It's ok
3872
0
value is 3872
It's ok
3872
0
value is 242
It's ok
242
[3872, 242]
0
value is 3872
It's not ok
1
value is 525
No_duplication
It's ok
525
0
value is 525
It's ok
525
0
value is 34
It's ok
34
[525, 34]
0
value is 525
It's not ok
1
value is 4482
No_duplication
It's ok
4482
0
value is 4482
It's ok
4482
0
value is 332
It's ok
332
[4482, 332]
0
value is 4482
It's not ok
1
value is 594
No_duplication
It's ok
594
0
value is 594
It's ok
594
0
value is 44
It's ok
44
[594, 44]
0
value is 594
It's not ok
1
value is 4586
No_duplication
It's ok
4586
0
value is 4586
It's ok
4586
0
value is 319
It's ok
319
[4586, 319]
0
value is 4586
It's not ok
1
value is 525
No_duplication
It's ok
525
0
value is 525
It's ok
525
0
value is 28
It's ok
28
[525, 28]
0
value is 14
No_duplication
It's ok
14
0
value is 19
It's ok
19
0
value is 14
It's ok
14
[19, 14]
It retry to click
0
value is 14
It's not ok
1
value is 14
It's not ok
2
value is 137
No_duplication
It's ok
137
0
value is 166
It's ok
166
0
value is 137
It's ok
137
[166, 137]
0
value is 137
It's not ok
1
value is 137
It's not ok
2
value is 70
No_duplication
It's ok
70
0
value is 80
It's ok
80
0
value is 70
It's ok
70
[80, 70]
0
value is 70
It's not ok
1
value is 70
It's not ok
2
value is 63
No_duplication
It's ok
63
0
value is 87
It's ok
87
0
value is 63
It's ok
63
[87, 63]
0
value is 63
It's not ok
1
value is 63
It's not ok
2
value is 66
No_duplication
It's ok
66
0
value is 80
It's ok
80
0
value is 66
It's ok
66
[80, 66]
0
value is 66
It's not ok
1
value is 66
It's not ok
2
value is 31
No_duplication
It's ok
31
0
value is 41
It's ok
41
0
value is 31
It's ok
31
[41, 31]
0
value is 31
It's not ok
1
value is 31
It's not ok
2
value is 98
No_duplication
It's ok
98
0
value is 119
It's ok
119
0
value is 98
It's ok
98
[119, 98]
0
value is 98
It's not ok
1
value is 98
It's not ok
2
value is 32
No_duplication
It's ok
32
0
value is 40
It's ok
40
0
value is 32
It's ok
32
[40, 32]
0
value is 32
It's not ok
1
value is 32
It's not ok
2
value is 77
No_duplication
It's ok
77
0
value is 92
It's ok
92
0
value is 77
It's ok
77
[92, 77]
0
value is 77
It's not ok
1
value is 77
It's not ok
2
value is 22
No_duplication
It's ok
22
0
value is 24
It's ok
24
0
value is 22
It's ok
22
[24, 22]
0
value is 22
It's not ok
1
value is 22
It's not ok
2
value is 104
No_duplication
It's ok
104
0
value is 117
It's ok
117
0
value is 104
It's ok
104
[117, 104]
0
value is 104
It's not ok
1
value is 104
It's not ok
2
value is 26
No_duplication
It's ok
26
0
value is 31
It's ok
31
0
value is 26
It's ok
26
[31, 26]
0
value is 26
It's not ok
1
value is 26
It's not ok
2
value is 90
No_duplication
It's ok
90
0
value is 110
It's ok
110
0
value is 90
It's ok
90
[110, 90]
0
value is 90
It's not ok
1
value is 90
It's not ok
2
value is 22
No_duplication
It's ok
22
0
value is 24
It's ok
24
0
value is 22
It's ok
22
[24, 22]
0
value is 22
It's not ok
1
value is 22
It's not ok
2
value is 70
No_duplication
It's ok
70
0
value is 88
It's ok
88
0
value is 70
It's ok
70
[88, 70]
0
value is 70
It's not ok
1
value is 70
It's not ok
2
value is 21
No_duplication
It's ok
21
0
value is 22
It's ok
22
0
value is 21
It's ok
21
[22, 21]
0
value is 21
It's not ok
1
value is 21
It's not ok
2
value is 75
No_duplication
It's ok
75
0
value is 84
It's ok
84
0
value is 75
It's ok
75
[84, 75]
0
value is 75
It's not ok
1
value is 75
It's not ok
2
value is 15
No_duplication
It's ok
15
0
value is 18
It's ok
18
0
value is 15
It's ok
15
[18, 15]
0
value is 15
It's not ok
1
value is 15
It's not ok
2
value is 72
No_duplication
It's ok
72
0
value is 84
It's ok
84
0
value is 72
It's ok
72
[84, 72]
0
value is 72
It's not ok
1
value is 72
It's not ok
2
value is 72
It's not ok
3
value is 13
No_duplication
It's ok
13
0
value is 15
It's ok
15
0
value is 13
It's ok
13
[15, 13]
0
value is 13
It's not ok
1
value is 118
No_duplication
It's ok
118
0
value is 153
It's ok
153
0
value is 118
It's ok
118
[153, 118]
0
value is 118
It's not ok
1
value is 118
It's not ok
2
value is 20
No_duplication
It's ok
20
0
value is 24
It's ok
24
0
value is 20
It's ok
20
[24, 20]
0
value is 20
It's not ok
1
value is 20
It's not ok
2
value is 124
No_duplication
It's ok
124
0
value is 147
It's ok
147
0
value is 124
It's ok
124
[147, 124]
0
value is 124
It's not ok
1
value is 124
It's not ok
2
value is 12
No_duplication
It's ok
12
0
value is 17
It's ok
17
0
value is 12
It's ok
12
[17, 12]

In [41]:
Only_category.df.to_excel("카테고리구매.xlsx")

In [12]:
Tour_tab_purchase = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/5a0FM1xBRpGe9ztHhLsZXQ/a10587421w80067081p102782120/%3F_u.date00%3D20170410%26_u.date01%3D20170410/")
Tour_tab_purchase.set_tab(5)
Tour_tab_purchase.set_value([1,1,1,1,1])
Tour_tab_purchase.set_date(1,4)
Tour_tab_purchase.get([1,2,3,4,5])
Tour_tab_purchase.set_segment_url("%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ", "on")
Tour_tab_purchase.retry = 5
Tour_tab_purchase.set_value([[2,2],[2,2],[2,2],[2,2],[2,2]])
Tour_tab_purchase.get([1,2,3,4,5])

0
It's not ok
1
value is 11912
No_duplication
It's ok
11912
0
value is 11912
It's ok
11912
[11912]
0
value is 11912
It's not ok
1
value is 6913
No_duplication
It's ok
6913
0
value is 6913
It's ok
6913
[6913]
0
value is 6913
It's not ok
1
value is 3051
No_duplication
It's ok
3051
0
value is 3051
It's ok
3051
[3051]
0
value is 3051
It's not ok
1
value is 383
No_duplication
It's ok
383
0
value is 383
It's ok
383
[383]
0
value is 383
It's not ok
1
value is 722
No_duplication
It's ok
722
0
value is 722
It's ok
722
[722]
0
value is 722
It's not ok
1
value is 11110
No_duplication
It's ok
11110
0
value is 11110
It's ok
11110
[11110]
0
value is 11110
It's not ok
1
value is 6421
No_duplication
It's ok
6421
0
value is 6421
It's ok
6421
[6421]
0
value is 6421
It's not ok
1
value is 2806
No_duplication
It's ok
2806
0
value is 2806
It's ok
2806
[2806]
0
value is 2806
It's not ok
1
value is 344
No_duplication
It's ok
344
0
value is 344
It's ok
344
[344]
0
value is 344
It's not ok
1
value is 673
No_duplication
It's ok
673
0
value is 673
It's ok
673
[673]
0
value is 673
It's not ok
1
value is 11067
No_duplication
It's ok
11067
0
value is 11067
It's ok
11067
[11067]
0
value is 11067
It's not ok
1
value is 6900
No_duplication
It's ok
6900
0
value is 6900
It's ok
6900
[6900]
0
value is 6900
It's not ok
1
value is 3009
No_duplication
It's ok
3009
0
value is 3009
It's ok
3009
[3009]
0
value is 3009
It's not ok
1
value is 375
No_duplication
It's ok
375
0
value is 375
It's ok
375
[375]
0
value is 375
It's not ok
1
value is 375
It's not ok
2
value is 691
No_duplication
It's ok
691
0
value is 691
It's ok
691
[691]
0
value is 691
It's not ok
1
value is 11267
No_duplication
It's ok
11267
0
value is 11267
It's ok
11267
[11267]
0
value is 11267
It's not ok
1
value is 7220
No_duplication
It's ok
7220
0
value is 7220
It's ok
7220
[7220]
0
value is 7220
It's not ok
1
value is 7220
It's not ok
2
value is 3230
No_duplication
It's ok
3230
0
value is 3230
It's ok
3230
[3230]
0
value is 3230
It's not ok
1
value is 354
No_duplication
It's ok
354
0
value is 354
It's ok
354
[354]
0
value is 354
It's not ok
1
value is 631
No_duplication
It's ok
631
0
value is 631
It's ok
631
[631]
0
value is 141
No_duplication
It's ok
141
0
value is 170
It's ok
170
0
value is 141
It's ok
141
[170, 141]
It retry to click
0
value is 141
It's not ok
1
value is 141
It's not ok
2
value is 194
No_duplication
It's ok
194
0
value is 226
It's ok
226
0
value is 194
It's ok
194
[226, 194]
0
value is 194
It's not ok
1
value is 194
It's not ok
2
value is 91
No_duplication
It's ok
91
0
value is 103
It's ok
103
0
value is 91
It's ok
91
[103, 91]
0
value is 91
It's not ok
1
value is 91
It's not ok
2
value is 18
No_duplication
It's ok
18
0
value is 21
It's ok
21
0
value is 18
It's ok
18
[21, 18]
0
value is 18
It's not ok
1
It's not ok
2
value is 26
No_duplication
It's ok
26
0
value is 32
It's ok
32
0
value is 26
It's ok
26
[32, 26]
0
value is 26
It's not ok
1
value is 26
It's not ok
2
value is 109
No_duplication
It's ok
109
0
value is 134
It's ok
134
0
value is 109
It's ok
109
[134, 109]
0
value is 109
It's not ok
1
value is 109
It's not ok
2
value is 166
No_duplication
It's ok
166
0
value is 188
It's ok
188
0
value is 166
It's ok
166
[188, 166]
0
value is 166
It's not ok
1
value is 166
It's not ok
2
value is 72
No_duplication
It's ok
72
0
value is 82
It's ok
82
0
value is 72
It's ok
72
[82, 72]
0
value is 72
It's not ok
1
value is 72
It's not ok
2
value is 19
No_duplication
It's ok
19
0
value is 24
It's ok
24
0
value is 19
It's ok
19
[24, 19]
0
value is 19
It's not ok
1
value is 18
No_duplication
It's ok
18
0
value is 23
It's ok
23
0
value is 18
It's ok
18
[23, 18]
0
value is 18
It's not ok
1
value is 111
No_duplication
It's ok
111
0
value is 127
It's ok
127
0
value is 111
It's ok
111
[127, 111]
0
value is 111
It's not ok
1
value is 111
It's not ok
2
value is 174
No_duplication
It's ok
174
0
value is 197
It's ok
197
0
value is 174
It's ok
174
[197, 174]
0
value is 174
It's not ok
1
value is 174
It's not ok
2
value is 75
No_duplication
It's ok
75
0
value is 86
It's ok
86
0
value is 75
It's ok
75
[86, 75]
0
value is 75
It's not ok
1
value is 75
It's not ok
2
value is 17
No_duplication
It's ok
17
0
value is 17
It's ok
17
0
value is 17
It's ok
17
[17, 17]
0
value is 17
It's not ok
1
value is 17
It's not ok
2
value is 24
No_duplication
It's ok
24
0
value is 30
It's ok
30
0
value is 24
It's ok
24
[30, 24]
0
value is 24
It's not ok
1
value is 24
It's not ok
2
value is 105
No_duplication
It's ok
105
0
value is 128
It's ok
128
0
value is 105
It's ok
105
[128, 105]
0
value is 105
It's not ok
1
value is 105
It's not ok
2
value is 183
No_duplication
It's ok
183
0
value is 198
It's ok
198
0
value is 183
It's ok
183
[198, 183]
0
value is 183
It's not ok
1
value is 183
It's not ok
2
value is 64
No_duplication
It's ok
64
0
value is 70
It's ok
70
0
value is 64
It's ok
64
[70, 64]
0
value is 64
It's not ok
1
value is 64
It's not ok
2
value is 12
No_duplication
It's ok
12
0
value is 14
It's ok
14
0
value is 12
It's ok
12
[14, 12]
0
value is 12
It's not ok
1
value is 12
It's not ok
2
value is 26
No_duplication
It's ok
26
0
value is 28
It's ok
28
0
value is 26
It's ok
26
[28, 26]

In [22]:
Tour_tab_purchase2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/vEPpqfRGRsOvhhBN5-DkbQ/a10587421w80067081p102782120/%3F_u.date00%3D20170408%26_u.date01%3D20170408%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ/")
Tour_tab_purchase2.set_tab(5)
Tour_tab_purchase2.set_value([[2,1],[2,1],[2,1],[2,1],[2,1]])
Tour_tab_purchase2.set_date(1,4)
Tour_tab_purchase2.get([1,2,3,4,5])
Tour_tab_purchase2.set_segment_url("%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ", "on")
Tour_tab_purchase2.retry = 5
Tour_tab_purchase2.set_value([[2,2],[2,2],[2,2],[2,2],[2,2]])
Tour_tab_purchase2.get([1,2,3,4,5])

0
It's not ok
1
value is 658
No_duplication
It's ok
658
0
value is 658
It's ok
658
0
value is 38
It's ok
38
[658, 38]
0
value is 658
It's not ok
1
value is 448
No_duplication
It's ok
448
0
value is 448
It's ok
448
0
value is 27
It's ok
27
[448, 27]
0
value is 448
It's not ok
1
value is 17
No_duplication
It's ok
17
0
value is 17
It's ok
17
0
value is 0
It's ok
0
[17, 0]
0
value is 17
It's not ok
1
value is 739
No_duplication
It's ok
739
0
value is 739
It's ok
739
0
value is 43
It's ok
43
[739, 43]
0
value is 739
It's not ok
1
value is 233
No_duplication
It's ok
233
0
value is 233
It's ok
233
0
value is 15
It's ok
15
[233, 15]
0
value is 233
It's not ok
1
value is 605
No_duplication
It's ok
605
0
value is 605
It's ok
605
0
value is 30
It's ok
30
[605, 30]
0
value is 605
It's not ok
1
value is 425
No_duplication
It's ok
425
0
value is 425
It's ok
425
0
value is 22
It's ok
22
[425, 22]
0
value is 425
It's not ok
1
value is 11
No_duplication
It's ok
11
0
value is 11
It's ok
11
0
value is 1
It's ok
1
[11, 1]
0
value is 11
It's not ok
1
value is 805
No_duplication
It's ok
805
0
value is 805
It's ok
805
0
value is 35
It's ok
35
[805, 35]
0
value is 805
It's not ok
1
value is 257
No_duplication
It's ok
257
0
value is 257
It's ok
257
0
value is 12
It's ok
12
[257, 12]
0
value is 257
It's not ok
1
value is 684
No_duplication
It's ok
684
0
value is 684
It's ok
684
0
value is 36
It's ok
36
[684, 36]
0
value is 684
It's not ok
1
value is 463
No_duplication
It's ok
463
0
value is 463
It's ok
463
0
value is 27
It's ok
27
[463, 27]
0
value is 463
It's not ok
1
value is 12
No_duplication
It's ok
12
0
value is 12
It's ok
12
0
value is 1
It's ok
1
[12, 1]
0
value is 12
It's not ok
1
value is 848
No_duplication
It's ok
848
0
value is 848
It's ok
848
0
value is 50
It's ok
50
[848, 50]
0
value is 848
It's not ok
1
value is 272
No_duplication
It's ok
272
0
value is 272
It's ok
272
0
value is 6
It's ok
6
[272, 6]
0
value is 272
It's not ok
1
value is 470
No_duplication
It's ok
470
0
value is 470
It's ok
470
0
value is 27
It's ok
27
[470, 27]
0
value is 470
It's not ok
1
value is 492
No_duplication
It's ok
492
0
value is 492
It's ok
492
0
value is 32
It's ok
32
[492, 32]
0
value is 492
It's not ok
1
value is 7
No_duplication
It's ok
7
0
value is 7
It's ok
7
0
value is 0
It's ok
0
[7, 0]
0
value is 7
It's not ok
1
value is 845
No_duplication
It's ok
845
0
value is 845
It's ok
845
0
value is 45
It's ok
45
[845, 45]
0
value is 845
It's not ok
1
value is 281
No_duplication
It's ok
281
0
value is 281
It's ok
281
0
value is 18
It's ok
18
[281, 18]
0
value is 9
No_duplication
It's ok
9
0
value is 12
It's ok
12
0
value is 9
It's ok
9
[12, 9]
0
value is 9
It's not ok
1
value is 9
It's not ok
2
value is 7
No_duplication
It's ok
7
0
value is 9
It's ok
9
0
value is 7
It's ok
7
[9, 7]
0
value is 7
It's not ok
1
value is 7
It's not ok
2
value is 0
No_duplication
It's ok
0
0
value is 0
It's ok
0
0
value is 0
It's ok
0
[0, 0]
0
value is 0
It's not ok
1
value is 0
It's not ok
2
value is 9
No_duplication
It's ok
9
0
value is 14
It's ok
14
0
value is 9
It's ok
9
[14, 9]
0
value is 9
It's not ok
1
value is 9
It's not ok
2
value is 8
No_duplication
It's ok
8
0
value is 10
It's ok
10
0
value is 8
It's ok
8
[10, 8]
0
value is 8
It's not ok
1
value is 8
It's not ok
2
value is 8
It's not ok
3
value is 8
It's not ok
4
value is 8
It's not ok
8
0
value is 11
It's ok
11
0
value is 8
It's ok
8
[11, 8]
0
value is 8
It's not ok
1
value is 8
It's not ok
2
value is 1
No_duplication
It's ok
1
0
value is 1
It's ok
1
0
value is 1
It's ok
1
[1, 1]
0
value is 1
It's not ok
1
value is 1
It's not ok
2
value is 0
No_duplication
It's ok
0
0
value is 0
It's ok
0
0
value is 0
It's ok
0
[0, 0]
0
value is 0
It's not ok
1
value is 0
It's not ok
2
value is 10
No_duplication
It's ok
10
0
value is 12
It's ok
12
0
value is 10
It's ok
10
[12, 10]
0
value is 10
It's not ok
1
value is 10
It's not ok
2
value is 10
It's not ok
3
value is 10
It's not ok
4
value is 4
No_duplication
It's ok
4
0
value is 5
It's ok
5
0
value is 4
It's ok
4
[5, 4]
0
value is 4
It's not ok
1
value is 4
It's not ok
2
value is 7
No_duplication
It's ok
7
0
value is 11
It's ok
11
0
value is 7
It's ok
7
[11, 7]
0
value is 7
It's not ok
1
value is 7
It's not ok
2
value is 6
No_duplication
It's ok
6
0
value is 7
It's ok
7
0
value is 6
It's ok
6
[7, 6]
0
value is 6
It's not ok
1
value is 6
It's not ok
2
value is 0
No_duplication
It's ok
0
0
value is 0
It's ok
0
0
value is 0
It's ok
0
[0, 0]
0
value is 0
It's not ok
1
value is 0
It's not ok
2
value is 14
No_duplication
It's ok
14
0
value is 17
It's ok
17
0
value is 14
It's ok
14
[17, 14]
0
value is 14
It's not ok
1
value is 14
It's not ok
2
value is 1
No_duplication
It's ok
1
0
value is 1
It's ok
1
0
value is 1
It's ok
1
[1, 1]
0
value is 1
It's not ok
1
value is 1
It's not ok
2
value is 8
No_duplication
It's ok
8
0
value is 9
It's ok
9
0
value is 8
It's ok
8
[9, 8]
0
value is 8
It's not ok
1
value is 8
It's not ok
2
value is 8
It's not ok
3
value is 8
It's not ok
4
value is 8
It's not ok
8
0
value is 9
It's ok
9
0
value is 8
It's ok
8
[9, 8]
0
value is 8
It's not ok
1
value is 8
It's not ok
2
value is 0
No_duplication
It's ok
0
0
value is 0
It's ok
0
0
value is 0
It's ok
0
[0, 0]
0
value is 0
It's not ok
1
value is 0
It's not ok
2
value is 8
No_duplication
It's ok
8
0
value is 12
It's ok
12
0
value is 8
It's ok
8
[12, 8]
0
value is 8
It's not ok
1
value is 8
It's not ok
2
value is 2
No_duplication
It's ok
2
0
value is 2
It's ok
2
0
value is 2
It's ok
2
[2, 2]

In [14]:
Tour_tab_purchase.df

,170623 - 170623,170624 - 170624,170625 - 170625,170626 - 170626
1. 여행홈 클릭,11912.0,11110.0,11067.0,11267.0
2. 아무거나 클릭,6913.0,6421.0,6900.0,7220.0
3. 카테고리 클릭,3051.0,2806.0,3009.0,3230.0
4. 기획전 배너 클릭,383.0,344.0,375.0,354.0
5. 개인화 클릭,722.0,673.0,691.0,631.0
1. 구매완료,141.0,109.0,111.0,105.0
2. 구매완료,194.0,166.0,174.0,183.0
3. 구매완료,91.0,72.0,75.0,64.0
4. 구매완료,18.0,19.0,17.0,12.0
5. 구매완료,26.0,18.0,24.0,26.0

In [23]:
Tour_tab_purchase2.df

,170623 - 170623,170624 - 170624,170625 - 170625,170626 - 170626
6. 테마 컨텐츠,658.0,605.0,684.0,470.0
7. 운영 컨텐츠,448.0,425.0,463.0,492.0
8. 할인 호텔,17.0,11.0,12.0,7.0
9. 지역/나라딜,739.0,805.0,848.0,845.0
10. 테마 컨텐츠(호텔),233.0,257.0,272.0,281.0
6. 구매완료,9.0,8.0,7.0,8.0
7. 구매완료,7.0,1.0,6.0,8.0
8. 구매완료,0.0,0.0,0.0,0.0
9. 구매완료,9.0,10.0,14.0,8.0
10. 구매완료,8.0,4.0,1.0,2.0

In [11]:
#여행홈 이용률_And 
Tour_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/BNAhfOhCRYGSL64VQWI9pQ/a10587421w80067081p102782120/%3F_r.tabId%3D1169/")
Tour_1.set_tab(5)
Tour_1.set_value([2,[2,2],[2,2],[2,2],[2,2]])
#Tour_1.set_date(1,2)
Tour_1.set_segment_url("%26_.useg%3Duser3pWJ7sIwS-mDV3x54DAbeg", "on") #4.1.9v ↑
#Tour_1.set_segment_url("%26_.useg%3DuseryUAfuE0oTlOfVJjkBz-Mcw", "on") #4.2.2v ↑
Tour_1.get([1,2,3,4,5])

Tour_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/hT5jydKhQni5if6X7sW0rQ/a10587421w80067081p102782120/")
Tour_2.set_tab(5)
Tour_2.set_value([[2,2],[2,2],[2,2],[2,2],[2,2]])
#Tour_2.set_date(1,2)
Tour_2.set_segment_url("%26_.useg%3Duser3pWJ7sIwS-mDV3x54DAbeg", "on")
#Tour_2.set_segment_url("%26_.useg%3DuseryUAfuE0oTlOfVJjkBz-Mcw", "on") #4.2.2v ↑
Tour_2.get([1,2,3,4,5])

0
value is 13785
No_duplication
It's ok
13785
0
value is 2728
No_duplication
It's ok
2728
[13785, 2728]
It retry to click
0
value is 2728
It's not ok
1
value is 5786
No_duplication
It's ok
5786
0
value is 13785
It's ok
13785
0
value is 5786
It's ok
5786
[13785, 5786]
0
value is 5786
It's not ok
1
value is 2097
No_duplication
It's ok
2097
0
value is 13785
It's ok
13785
0
value is 2097
It's ok
2097
[13785, 2097]
0
value is 2097
It's not ok
1
value is 359
No_duplication
It's ok
359
0
value is 13785
It's ok
13785
0
value is 359
It's ok
359
[13785, 359]
0
value is 359
It's not ok
1
value is 626
No_duplication
It's ok
626
0
value is 13785
It's ok
13785
0
value is 626
It's ok
626
[13785, 626]
0
value is 372
No_duplication
It's ok
372
0
value is 13785
It's ok
13785
0
value is 372
It's ok
372
[13785, 372]
0
value is 372
It's not ok
1
value is 558
No_duplication
It's ok
558
0
value is 13785
It's ok
13785
0
value is 558
It's ok
558
[13785, 558]
0
value is 558
It's not ok
1
value is 12
No_duplication
It's ok
12
0
value is 13785
It's ok
13785
0
value is 12
It's ok
12
[13785, 12]
0
value is 12
It's not ok
1
value is 563
No_duplication
It's ok
563
0
value is 13785
It's ok
13785
0
value is 563
It's ok
563
[13785, 563]
0
value is 563
It's not ok
1
value is 3870
No_duplication
It's ok
3870
0
value is 13785
It's ok
13785
0
value is 3870
It's ok
3870
[13785, 3870]

In [13]:
pd.concat([Tour_1.df, Tour_2.df])

                    170622 - 170622
여행 홈                        13785.0
1. 카테고리 클릭                   2728.0
아무거나 클릭                      5786.0
3. 실시간 항공, 호텔 검색클릭           2097.0
4. 기획전 배너 클릭                  359.0
5. 개인화 영역 클릭                  626.0
테마 컨텐츠                        372.0
운영 컨텐츠                        558.0
할인 호텔                          12.0
지역/나라딜                        563.0
아무거나 except 카테고리             3870.0

In [7]:
pd.concat([And_1.df, And_4.df, And_2_2.df])

                        170626 - 170626
And_국내여행·숙박·입장권 (딜리스트)           8128.0
And_해외여행.입장권.패스 (딜리스트)           7529.0
And_실시간 항공/호텔                   12435.0
And_여행카테고리 이용 수                 25849.0
And_여행홈                         12371.0
And_여행카테고리                       2773.0
And_홈화면                        978015.0
And_딜상세(국내)                      5056.0
And_딜상세(해외)                       924.0
And_콜렉션 클릭                      68722.0
And_콜렉션(국내)                         1.0
And_콜렉션(해외)                      1751.0
AD_국내_로딩화면                       6311.0
AD_국내_결과화면 랜딩                    6221.0
AD_해외_로딩화면                       6582.0
AD_해외_결과화면 랜딩                    6376.0

In [8]:
pd.concat([iOS_1.df, iOS_4.df, iOS_2_2.df])

                        170626 - 170626
iOS_국내여행·숙박·입장권 (딜리스트)           7018.0
iOS_해외여행.입장권.패스 (딜리스트)           3539.0
iOS_항공.호텔                        6417.0
iOS_여행카테고리 이용 수                 15054.0
iOS_여행홈                          4888.0
iOS_여행카테고리                       1016.0
iOS_홈화면                        340428.0
iOS_딜상세(국내)                       349.0
iOS_딜상세(해외)                       252.0
iOS_콜렉션 클릭                       3609.0
iOS_국내 콜렉션                          0.0
iOS_해외 콜렉션                        688.0
iOS_국내_로딩화면                      3103.0
iOS_국내_결과화면 랜딩                   3028.0
iOS_해외_로딩화면                      3669.0
IOS_해외_결과화면 랜딩                   3486.0

In [9]:
pd.concat([Mo_1.df, Mo_1_1.df, Mo_2_2.df])

                       170626 - 170626
Mo_국내여행·숙박·입장권 (딜리스트)           4277.0
Mo_해외여행.입장권.패스 (딜리스트)           1574.0
Mo_실시간 항공/호텔                    1121.0
Mo_여행카테고리 이용 수                  4865.0
Mo_전체(신규해외)                     2602.0
Moweb_홈화면                     112147.0
Moweb_딜상세(국내)                    275.0
Moweb_딜상세(해외)                    202.0
Moweb_국내_로딩화면                    972.0
Moweb_국내_결과화면 랜딩                 937.0
Moweb_해외_로딩화면                    908.0
Moweb_해외_결과화면 랜딩                 857.0

In [10]:
pd.concat([PC_1.df, PC_1_1.df])

                       170626 - 170626
PC_국내여행·숙박·입장권 (딜리스트)          15397.0
PC_해외여행.입장권.패스 (딜리스트)           6794.0
PC_전체: 이용 수                   591503.0
PC_전체: 카테고리 이용 수               58581.0
PC_홈화면                        219334.0
PC_딜상세(국내)                      1004.0
PC_딜상세(해외)                       471.0

In [6]:
#(대시보드용 1.) 카테고리 Traffic (세션)
And_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/XAzFnmCtTl6SM1Cmc9OVNw/a10587421w80067081p102782120/")
And_1.set_tab(5)
And_1.set_value([1,1,1,1,2])
#And_1.set_date(1,3)
And_1.get([1,2,3,4,5])

#(대시보드용 2-2.) 항공검색(이탈율 & 국내/해외 구분)
And_2_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/Xb-8k7DlTNyQjJo3M5bMjw/a10587421w80067081p102782120/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
And_2_2.set_tab(2)
And_2_2.set_value([2,2])
#And_2_2.set_date(1,3)
And_2_2.get([1,2])

#(대시보드용 4.) 트래픽 from 추천탭
And_4 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/4rkbjB7zTGmgcRAlJaVzrg/a10587421w80067081p102782120/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
And_4.set_tab(5)
And_4.set_value([2,[2,2],1,2,[2,2]])
#And_4.set_date(1,3)
And_4.get([1,2,4,5])

#(대시보드용 1.) 카테고리 Traffic (세션)
iOS_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/f6fCST7zQwalCMN1dpSuPw/a10587421w80067081p88823264/")
iOS_1.set_tab(5)
iOS_1.set_value([1,1,1,1,2])
#iOS_1.set_date(1,3)
iOS_1.get([1,2,3,4,5])

#(대시보드용 2-2.) 항공검색(이탈율 & 국내/해외 구분)
iOS_2_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/p8shpiJuS4S2PNncs3XiDQ/a10587421w80067081p88823264/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
iOS_2_2.set_tab(2)
iOS_2_2.set_value([2,2])
#iOS_2_2.set_date(1,3)
iOS_2_2.get([1,2])

#(대시보드용 4.) 트래픽 from 추천탭
iOS_4 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/GDfZCJv9RSC7dYyccZZ1lA/a10587421w80067081p88823264/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
iOS_4.set_tab(5)
iOS_4.set_value([2,[2,2],1,2,[2,2]])
#iOS_4.set_date(1,3)
iOS_4.get([1,2,4,5])

#(대시보드용 1.) 카테고리 Traffic (세션)
Mo_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/V-T6iNbTQWi5USC2dSi5tA/a10587421w80067081p89357101/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
Mo_1.set_tab(4)
Mo_1.set_value([1,1,1,2])
#Mo_1.set_date(1,3)
Mo_1.get([1,2,3,4])

#(대시보드용 1-1.) 티몬 전체 세션 & 전체 카테고리 & 홈->딜
Mo_1_1= GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/zoovm6xETN-Cd6JF9s2_hQ/a10587421w80067081p89357101/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
Mo_1_1.set_tab(4)
Mo_1_1.set_value([1,1,2,[2,2]])
#Mo_1_1.set_date(1,3)
Mo_1_1.get([1,2,3,4])
Mo_1_1.df = Mo_1_1.df[2:5]

#(대시보드용 2-2.) 항공검색(이탈율 & 국내/해외 구분)
Mo_2_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/ERjO4gwrTtm8N0QyMBVMSw/a10587421w80067081p89357101/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
Mo_2_2.set_tab(2)
Mo_2_2.set_value([2,2])
#Mo_2_2.set_date(1,3)
Mo_2_2.get([1,2])

#(대시보드용 1.) 카테고리 Traffic (세션)
PC_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/RFQ6OlJDT5-6MMKnjtJkcA/a10587421w80067081p84826225/%3F_u.date00%3D20170615%26_u.date01%3D20170615%26_r.tabId%3D419/")
PC_1.set_tab(2)
PC_1.set_value([1,1])
#PC_1.set_date(1,3)
PC_1.get([1,2])

#(대시보드용 1-1.) 티몬 전체 세션 & 전체 카테고리 & 홈->딜
PC_1_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/ZcNefO8cTRe75IKFbPcCWw/a10587421w80067081p84826225/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
PC_1_1.set_tab(4)
PC_1_1.set_value([1,1,2,[2,2]])
#PC_1_1.set_date(1,3)
PC_1_1.get([1,2,3,4])

0
It's not ok
1
value is 8128
No_duplication
It's ok
8128
0
value is 8128
It's ok
8128
[8128]
0
value is 8128
It's not ok
1
value is 7529
No_duplication
It's ok
7529
0
value is 7529
It's ok
7529
[7529]
0
value is 7529
It's not ok
1
value is 12435
No_duplication
It's ok
12435
0
value is 12435
It's ok
12435
[12435]
0
value is 12435
It's not ok
1
value is 25849
No_duplication
It's ok
25849
0
value is 25849
It's ok
25849
[25849]
0
value is 25849
It's not ok
1
value is 12371
No_duplication
It's ok
12371
0
value is 2773
No_duplication
It's ok
2773
[12371, 2773]
0
value is 12371
It's not ok
1
value is 6311
No_duplication
It's ok
6311
0
value is 6221
No_duplication
It's ok
6221
[6311, 6221]
0
value is 6311
It's not ok
1
value is 6582
No_duplication
It's ok
6582
0
value is 6376
No_duplication
It's ok
6376
[6582, 6376]
0
value is 6582
It's not ok
1
value is 978015
No_duplication
It's ok
978015
0
value is 5056
No_duplication
It's ok
5056
[978015, 5056]
0
value is 5056
It's not ok
1
value is 924
No_duplication
It's ok
924
0
value is 978015
It's ok
978015
0
value is 924
It's ok
924
[978015, 924]
0
value is 978015
It's not ok
1
value is 68722
No_duplication
It's ok
68722
0
value is 1
No_duplication
It's ok
1
[68722, 1]
0
value is 1
It's not ok
1
value is 1751
No_duplication
It's ok
1751
0
value is 68722
It's ok
68722
0
value is 1751
It's ok
1751
[68722, 1751]
0
value is 68722
It's not ok
1
value is 7018
No_duplication
It's ok
7018
0
value is 7018
It's ok
7018
[7018]
0
value is 7018
It's not ok
1
value is 3539
No_duplication
It's ok
3539
0
value is 3539
It's ok
3539
[3539]
0
value is 3539
It's not ok
1
value is 6417
No_duplication
It's ok
6417
0
value is 6417
It's ok
6417
[6417]
0
value is 6417
It's not ok
1
value is 15054
No_duplication
It's ok
15054
0
value is 15054
It's ok
15054
[15054]
0
value is 15054
It's not ok
1
value is 4888
No_duplication
It's ok
4888
0
value is 1016
No_duplication
It's ok
1016
[4888, 1016]
0
value is 4888
It's not ok
1
value is 3103
No_duplication
It's ok
3103
0
value is 3028
No_duplication
It's ok
3028
[3103, 3028]
0
value is 3103
It's not ok
1
value is 3669
No_duplication
It's ok
3669
0
value is 3486
No_duplication
It's ok
3486
[3669, 3486]
0
value is 3669
It's not ok
1
value is 340428
No_duplication
It's ok
340428
0
value is 349
No_duplication
It's ok
349
[340428, 349]
0
value is 349
It's not ok
1
value is 252
No_duplication
It's ok
252
0
value is 340428
It's ok
340428
0
value is 252
It's ok
252
[340428, 252]
0
value is 340428
It's not ok
1
value is 3609
No_duplication
It's ok
3609
0
value is 0
No_duplication
It's ok
0
[3609, 0]
0
value is 0
It's not ok
1
value is 0
It's not ok
2
value is 688
No_duplication
It's ok
688
0
value is 3609
It's ok
3609
0
value is 688
It's ok
688
[3609, 688]
0
value is 3609
It's not ok
1
value is 4277
No_duplication
It's ok
4277
0
value is 4277
It's ok
4277
[4277]
0
value is 4277
It's not ok
1
value is 1574
No_duplication
It's ok
1574
0
value is 1574
It's ok
1574
[1574]
0
value is 1574
It's not ok
1
value is 1121
No_duplication
It's ok
1121
0
value is 1121
It's ok
1121
[1121]
0
value is 1121
It's not ok
1
value is 4865
No_duplication
It's ok
4865
0
value is 2602
No_duplication
It's ok
2602
[4865, 2602]
0
value is 4865
It's not ok
1
value is 1050231
No_duplication
It's ok
1050231
0
value is 1050231
It's ok
1050231
[1050231]
0
value is 1050231
It's not ok
1
value is 29280
No_duplication
It's ok
29280
0
value is 29280
It's ok
29280
[29280]
0
value is 29280
It's not ok
1
value is 112147
No_duplication
It's ok
112147
0
value is 275
No_duplication
It's ok
275
[112147, 275]
0
value is 275
It's not ok
1
value is 202
No_duplication
It's ok
202
0
value is 112147
It's ok
112147
0
value is 202
It's ok
202
[112147, 202]
0
value is 112147
It's not ok
1
value is 972
No_duplication
It's ok
972
0
value is 937
No_duplication
It's ok
937
[972, 937]
0
value is 972
It's not ok
1
value is 908
No_duplication
It's ok
908
0
value is 857
No_duplication
It's ok
857
[908, 857]
0
value is 908
It's not ok
1
value is 15397
No_duplication
It's ok
15397
0
value is 15397
It's ok
15397
[15397]
0
value is 15397
It's not ok
1
value is 6794
No_duplication
It's ok
6794
0
value is 6794
It's ok
6794
[6794]
0
value is 6794
It's not ok
1
value is 591503
No_duplication
It's ok
591503
0
value is 591503
It's ok
591503
[591503]
0
value is 591503
It's not ok
1
value is 58581
No_duplication
It's ok
58581
0
value is 58581
It's ok
58581
[58581]
0
value is 58581
It's not ok
1
value is 219334
No_duplication
It's ok
219334
0
value is 1004
No_duplication
It's ok
1004
[219334, 1004]
0
value is 1004
It's not ok
1
value is 471
No_duplication
It's ok
471
0
value is 219334
It's ok
219334
0
value is 471
It's ok
471
[219334, 471]

In [12]:
#(대시보드용 1.) 카테고리 Traffic (세션)
And_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/XAzFnmCtTl6SM1Cmc9OVNw/a10587421w80067081p102782120/")
And_1.set_tab(5)
And_1.set_value([1,1,1,1,2])
And_1.get([1,2,3,4,5])

#(대시보드용 1-1.) 티몬 전체 세션 수 & 전체 카테고리
And_1_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/gmdw7utOS6OyMdXRs_jizg/a10587421w80067081p102782120/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
And_1_1.set_tab(2)
And_1_1.set_value([1,1])
And_1_1.get([1,2])

#(대시보드용 2.) 실시간 항공 메인 > 검색하기 & 여행홈 -> 항공검색결과
And_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/5fyYOU-QTN6tQSwRlObkUw/a10587421w80067081p102782120/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
And_2.set_tab(5)
And_2.set_value([2,2,[2,2],[2,2],2])
And_2.get([1,2,3,4,5])

#(대시보드용 2-2.) 항공검색(이탈율 & 국내/해외 구분)
And_2_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/Xb-8k7DlTNyQjJo3M5bMjw/a10587421w80067081p102782120/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
And_2_2.set_tab(2)
And_2_2.set_value([2,2])
And_2_2.get([1,2])

#(대시보드용 2-3.) 항공 예약하기 클릭
And_2_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/_yDrAZzXTaeMOGlYkwqqbw/a10587421w80067081p102782120/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
And_2_3.set_tab(2)
And_2_3.set_value([1,1])
And_2_3.get([1,2])

#(대시보드용 3.) B.com 카테고리
And_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/urNzazUpRDu9q-17-qtmtw/a10587421w80067081p102782120/%3F_u.date00%3D20170227%26_u.date01%3D20170305%26_.useg%3D/")
And_3.set_tab(4)
And_3.set_value([1,1,2,2])
And_3.get([1,2,3,4])

#(대시보드용 3-1.) B.com 큐레이션/이벤트
And_3_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/qWyiPek-Tsqgkok-rZsIjA/a10587421w80067081p102782120/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
And_3_1.set_tab(3)
And_3_1.set_value([1,2,2])
And_3_1.get([1,2,3])

#(대시보드용 4.) 트래픽 from 추천탭
And_4 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/4rkbjB7zTGmgcRAlJaVzrg/a10587421w80067081p102782120/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
And_4.set_tab(5)
And_4.set_value([2,[2,2],1,2,[2,2]])
And_4.get([1,2,3,4,5])

#(대시보드용 5.) 여행홈 트래픽
And_5 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/Yp0lRuh1QYWc4d7z640omw/a10587421w80067081p102782120/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
And_5.set_tab(4)
And_5.set_value([2,[2,2],[2,2],[2,2]])
And_5.get([1,2,3,4])

0
It's not ok
1
value is 97471
No_duplication
It's ok
97471
0
value is 97471
It's ok
97471
[97471]
0
value is 97471
It's not ok
1
value is 56670
No_duplication
It's ok
56670
0
value is 56670
It's ok
56670
[56670]
0
value is 56670
It's not ok
1
value is 36539
No_duplication
It's ok
36539
0
value is 36539
It's ok
36539
[36539]
0
value is 36539
It's not ok
1
value is 174893
No_duplication
It's ok
174893
0
value is 174893
It's ok
174893
[174893]
0
value is 174893
It's not ok
1
value is 101183
No_duplication
It's ok
101183
0
value is 20953
No_duplication
It's ok
20953
[101183, 20953]
0
value is 101183
It's not ok
1
value is 7300293
No_duplication
It's ok
7300293
0
value is 7300293
It's ok
7300293
[7300293]
0
value is 7300293
It's not ok
1
value is 551532
No_duplication
It's ok
551532
0
value is 551532
It's ok
551532
[551532]
0
value is 551532
It's not ok
1
value is 551532
It's not ok
2
value is 30444
No_duplication
It's ok
30444
0
value is 13729
No_duplication
It's ok
13729
[30444, 13729]
0
value is 30444
It's not ok
1
value is 11040
No_duplication
It's ok
11040
0
value is 9038
No_duplication
It's ok
9038
[11040, 9038]
0
value is 9038
It's not ok
1
value is 4331
No_duplication
It's ok
4331
0
value is 30444
It's ok
30444
0
value is 4331
It's ok
4331
[30444, 4331]
0
value is 4331
It's not ok
1
value is 5714
No_duplication
It's ok
5714
0
value is 30444
It's ok
30444
0
value is 5714
It's ok
5714
[30444, 5714]
0
value is 30444
It's not ok
1
value is 101183
No_duplication
It's ok
101183
0
value is 11077
No_duplication
It's ok
11077
[101183, 11077]
0
value is 101183
It's not ok
1
value is 101183
It's not ok
2
value is 28259
No_duplication
It's ok
28259
0
value is 27836
No_duplication
It's ok
27836
[28259, 27836]
0
value is 28259
It's not ok
1
It's not ok
2
value is 22842
No_duplication
It's ok
22842
0
value is 22227
No_duplication
It's ok
22227
[22842, 22227]
0
value is 22842
It's not ok
1
value is 4326
No_duplication
It's ok
4326
0
value is 4326
It's ok
4326
[4326]
0
value is 4326
It's not ok
1
value is 3836
No_duplication
It's ok
3836
0
value is 3836
It's ok
3836
[3836]
0
value is 3836
It's not ok
1
value is 3027
No_duplication
It's ok
3027
0
value is 3027
It's ok
3027
[3027]
0
value is 3027
It's not ok
1
value is 27
No_duplication
It's ok
27
0
value is 27
It's ok
27
[27]
0
value is 27
It's not ok
1
It's not ok
2
value is 5520
No_duplication
It's ok
5520
0
value is 3865
No_duplication
It's ok
3865
[5520, 3865]
0
value is 5520
It's not ok
1
value is 527
No_duplication
It's ok
527
0
value is 55
No_duplication
It's ok
55
[527, 55]
0
value is 527
It's not ok
1
value is 200
No_duplication
It's ok
200
0
value is 200
It's ok
200
[200]
0
value is 200
It's not ok
1
value is 4838
No_duplication
It's ok
4838
0
value is 1352
No_duplication
It's ok
1352
[4838, 1352]
0
value is 4838
It's not ok
1
value is 11525
No_duplication
It's ok
11525
0
value is 791
No_duplication
It's ok
791
[11525, 791]
0
value is 11525
It's not ok
1
value is 6875883
No_duplication
It's ok
6875883
0
value is 30701
No_duplication
It's ok
30701
[6875883, 30701]
0
value is 30701
It's not ok
1
value is 9914
No_duplication
It's ok
9914
0
value is 6875883
It's ok
6875883
0
value is 9914
It's ok
9914
[6875883, 9914]
0
value is 6875883
It's not ok
1
value is 18815
No_duplication
It's ok
18815
0
value is 18815
It's ok
18815
[18815]
0
value is 18815
It's not ok
1
value is 400513
No_duplication
It's ok
400513
0
value is 5364
No_duplication
It's ok
5364
[400513, 5364]
0
value is 5364
It's not ok
1
value is 2
No_duplication
It's ok
2
0
value is 400513
It's ok
400513
0
value is 2
It's ok
2
[400513, 2]
0
value is 400513
It's not ok
1
value is 400513
It's not ok
2
value is 101183
No_duplication
It's ok
101183
0
value is 42748
No_duplication
It's ok
42748
[101183, 42748]
0
value is 42748
It's not ok
1
value is 20953
No_duplication
It's ok
20953
0
value is 101183
It's ok
101183
0
value is 20953
It's ok
20953
[101183, 20953]
0
value is 20953
It's not ok
1
value is 7421
No_duplication
It's ok
7421
0
value is 101183
It's ok
101183
0
value is 7421
It's ok
7421
[101183, 7421]
0
value is 7421
It's not ok
1
value is 14303
No_duplication
It's ok
14303
0
value is 101183
It's ok
101183
0
value is 14303
It's ok
14303
[101183, 14303]

In [13]:
#(대시보드용 1.) 카테고리 Traffic (세션)
iOS_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/f6fCST7zQwalCMN1dpSuPw/a10587421w80067081p88823264/")
iOS_1.set_tab(5)
iOS_1.set_value([1,1,1,1,2])
iOS_1.get([1,2,3,4,5])

#(대시보드용 1-1.) 티몬 전체 세션 수 & 전체 카테고리
iOS_1_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/p29BV_8iRc2OovJCvhcg_Q/a10587421w80067081p88823264/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
iOS_1_1.set_tab(2)
iOS_1_1.set_value([1,1])
iOS_1_1.get([1,2])

#(대시보드용 2.) 실시간 항공 메인 > 검색하기 & 여행홈 -> 항공검색결과
iOS_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/2K60xdJeT2isKsPe4tgpEQ/a10587421w80067081p88823264/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
iOS_2.set_tab(5)
iOS_2.set_value([2,2,[2,2],[2,2],2])
iOS_2.get([1,2,3,4,5])

#(대시보드용 2-2.) 항공검색(이탈율 & 국내/해외 구분)
iOS_2_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/p8shpiJuS4S2PNncs3XiDQ/a10587421w80067081p88823264/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
iOS_2_2.set_tab(2)
iOS_2_2.set_value([2,2])
iOS_2_2.get([1,2])

#(대시보드용 2-3.) 항공 예약하기 클릭
iOS_2_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/btj6gUJmQ2-NZsSB1vB3tw/a10587421w80067081p88823264/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
iOS_2_3.set_tab(2)
iOS_2_3.set_value([1,1])
iOS_2_3.get([1,2])

#(대시보드용 3.) B.com 카테고리
iOS_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/mzJgxll5SXqATSN_oHrUiQ/a10587421w80067081p88823264/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
iOS_3.set_tab(4)
iOS_3.set_value([1,1,2,2])
iOS_3.get([1,2,3,4])

#(대시보드용 3-1.) B.com 큐레이션/이벤트
iOS_3_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/tZRMJC4JRhm_X9Ql6C4KOg/a10587421w80067081p88823264/%3F_u.date00%3D20170615%26_u.date01%3D20170615%26_r.tabId%3D3945/")
iOS_3_1.set_tab(3)
iOS_3_1.set_value([1,2,2])
iOS_3_1.get([1,2,3])

#(대시보드용 4.) 트래픽 from 추천탭
iOS_4 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/GDfZCJv9RSC7dYyccZZ1lA/a10587421w80067081p88823264/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
iOS_4.set_tab(5)
iOS_4.set_value([2,[2,2],1,2,[2,2]])
iOS_4.get([1,2,3,4,5])

# #(대시보드용 5.) 여행홈 트래픽
# iOS_9 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/9rdCrGeYTaCIuaCGnfLoRQ/a10587421w80067081p88823264/")
# iOS_9.set_tab(4)
# iOS_9.set_value([2,[2,2],[2,2],[2,2]])
# iOS_9.get([1,2,3,4])

0
value is 101183
It's not ok
1
value is 48374
No_duplication
It's ok
48374
0
value is 48374
It's ok
48374
[48374]
0
value is 48374
It's not ok
1
value is 23929
No_duplication
It's ok
23929
0
value is 23929
It's ok
23929
[23929]
0
value is 23929
It's not ok
1
value is 21635
No_duplication
It's ok
21635
0
value is 21635
It's ok
21635
[21635]
0
value is 21635
It's not ok
1
value is 83773
No_duplication
It's ok
83773
0
value is 83773
It's ok
83773
[83773]
0
value is 83773
It's not ok
1
value is 39711
No_duplication
It's ok
39711
0
value is 7989
No_duplication
It's ok
7989
[39711, 7989]
0
value is 39711
It's not ok
1
value is 2607966
No_duplication
It's ok
2607966
0
value is 2607966
It's ok
2607966
[2607966]
0
value is 2607966
It's not ok
1
value is 351402
No_duplication
It's ok
351402
0
value is 351402
It's ok
351402
[351402]
0
value is 351402
It's not ok
1
value is 18190
No_duplication
It's ok
18190
0
value is 8579
No_duplication
It's ok
8579
[18190, 8579]
0
value is 18190
It's not ok
1
value is 6021
No_duplication
It's ok
6021
0
value is 5007
No_duplication
It's ok
5007
[6021, 5007]
0
value is 5007
It's not ok
1
value is 2821
No_duplication
It's ok
2821
0
value is 18190
It's ok
18190
0
value is 2821
It's ok
2821
[18190, 2821]
0
value is 2821
It's not ok
1
value is 3055
No_duplication
It's ok
3055
0
value is 18190
It's ok
18190
0
value is 3055
It's ok
3055
[18190, 3055]
0
value is 18190
It's not ok
1
value is 39711
No_duplication
It's ok
39711
0
value is 3975
No_duplication
It's ok
3975
[39711, 3975]
0
value is 39711
It's not ok
1
value is 13529
No_duplication
It's ok
13529
0
value is 13257
No_duplication
It's ok
13257
[13529, 13257]
0
value is 13529
It's not ok
1
value is 13907
No_duplication
It's ok
13907
0
value is 13416
No_duplication
It's ok
13416
[13907, 13416]
0
value is 13907
It's not ok
1
value is 2072
No_duplication
It's ok
2072
0
value is 2072
It's ok
2072
[2072]
0
value is 2072
It's not ok
1
value is 2616
No_duplication
It's ok
2616
0
value is 2616
It's ok
2616
[2616]
0
value is 2616
It's not ok
1
value is 5
No_duplication
It's ok
5
0
value is 5
It's ok
5
[5]
0
value is 5
It's not ok
1
value is 951
No_duplication
It's ok
951
0
value is 951
It's ok
951
[951]
0
value is 951
It's not ok
1
value is 3559
No_duplication
It's ok
3559
0
value is 2462
No_duplication
It's ok
2462
[3559, 2462]
0
value is 3559
It's not ok
1
value is 355
No_duplication
It's ok
355
0
value is 32
No_duplication
It's ok
32
[355, 32]
0
value is 355
It's not ok
1
value is 0
No_duplication
It's ok
0
0
value is 0
It's ok
0
[0]
0
value is 0
It's not ok
1
value is 2117
No_duplication
It's ok
2117
0
value is 583
No_duplication
It's ok
583
[2117, 583]
0
value is 2117
It's not ok
1
value is 4780
No_duplication
It's ok
4780
0
value is 338
No_duplication
It's ok
338
[4780, 338]
0
value is 4780
It's not ok
1
value is 2177288
No_duplication
It's ok
2177288
0
value is 2320
No_duplication
It's ok
2320
[2177288, 2320]
0
value is 2320
It's not ok
1
value is 1489
No_duplication
It's ok
1489
0
value is 2177288
It's ok
2177288
0
value is 1489
It's ok
1489
[2177288, 1489]
0
value is 2177288
It's not ok
1
value is 15691
No_duplication
It's ok
15691
0
value is 15691
It's ok
15691
[15691]
0
value is 15691
It's not ok
1
value is 28998
No_duplication
It's ok
28998
0
value is 1677
No_duplication
It's ok
1677
[28998, 1677]
0
value is 1677
It's not ok
1
value is 23
No_duplication
It's ok
23
0
value is 28998
It's ok
28998
0
value is 23
It's ok
23
[28998, 23]

In [14]:
#(대시보드용 1.) 카테고리 Traffic (세션)
Mo_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/V-T6iNbTQWi5USC2dSi5tA/a10587421w80067081p89357101/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
Mo_1.set_tab(4)
Mo_1.set_value([1,1,1,2])
Mo_1.get([1,2,3,4])

#(대시보드용 1-1.) 티몬 전체 세션 & 전체 카테고리 & 홈->딜
Mo_1_1= GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/zoovm6xETN-Cd6JF9s2_hQ/a10587421w80067081p89357101/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
Mo_1_1.set_tab(4)
Mo_1_1.set_value([1,1,2,[2,2]])
Mo_1_1.get([1,2,3,4])

#(대시보드용 2.) 실시간 항공 메인 > 검색하기
Mo_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/7aMTsZECQu2GVnxwp3IXRg/a10587421w80067081p89357101/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
Mo_2.set_tab(4)
Mo_2.set_value([2,2,[2,2],[2,2]])
Mo_2.get([1,2,3,4])

#(대시보드용 2-2.) 항공검색(이탈율 & 국내/해외 구분)
Mo_2_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/ERjO4gwrTtm8N0QyMBVMSw/a10587421w80067081p89357101/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
Mo_2_2.set_tab(2)
Mo_2_2.set_value([2,2])
Mo_2_2.get([1,2])
                  
#(대시보드용 2-3.) 항공 예약하기 클릭
Mo_2_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/Shs74NpmR1Wcy5isHt_ZGA/a10587421w80067081p89357101/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
Mo_2_3.set_tab(2)
Mo_2_3.set_value([1,1])
Mo_2_3.get([1,2])
                  
#(대시보드용 3.) B.com 카테고리/큐레이션/이벤트
Mo_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/W52iAReKSeydMYwmwkpBbA/a10587421w80067081p89357101/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
Mo_3.set_tab(3)
Mo_3.set_value([2,2,2])
Mo_3.get([1,2,3])

0
value is 28998
It's not ok
1
value is 28998
It's not ok
2
value is 25979
No_duplication
It's ok
25979
0
value is 25979
It's ok
25979
[25979]
0
value is 25979
It's not ok
1
value is 9585
No_duplication
It's ok
9585
0
value is 9585
It's ok
9585
[9585]
0
value is 9585
It's not ok
1
value is 7092
No_duplication
It's ok
7092
0
value is 7092
It's ok
7092
[7092]
0
value is 7092
It's not ok
1
value is 29898
No_duplication
It's ok
29898
0
value is 16156
No_duplication
It's ok
16156
[29898, 16156]
0
value is 29898
It's not ok
1
value is 6782040
No_duplication
It's ok
6782040
0
value is 6782040
It's ok
6782040
[6782040]
0
value is 6782040
It's not ok
1
value is 203864
No_duplication
It's ok
203864
0
value is 203864
It's ok
203864
[203864]
0
value is 203864
It's not ok
1
value is 700311
No_duplication
It's ok
700311
0
value is 2470
No_duplication
It's ok
2470
[700311, 2470]
0
value is 2470
It's not ok
1
value is 875
No_duplication
It's ok
875
0
value is 700311
It's ok
700311
0
value is 875
It's ok
875
[700311, 875]
0
value is 700311
It's not ok
1
value is 6207
No_duplication
It's ok
6207
0
value is 1793
No_duplication
It's ok
1793
[6207, 1793]
0
value is 6207
It's not ok
1
value is 1647
No_duplication
It's ok
1647
0
value is 846
No_duplication
It's ok
846
[1647, 846]
0
value is 846
It's not ok
1
value is 910
No_duplication
It's ok
910
0
value is 6207
It's ok
6207
0
value is 910
It's ok
910
[6207, 910]
0
value is 910
It's not ok
1
value is 1000
No_duplication
It's ok
1000
0
value is 6207
It's ok
6207
0
value is 1000
It's ok
1000
[6207, 1000]
0
value is 6207
It's not ok
1
value is 5330
No_duplication
It's ok
5330
0
value is 5134
No_duplication
It's ok
5134
[5330, 5134]
0
value is 5330
It's not ok
1
value is 5603
No_duplication
It's ok
5603
0
value is 5351
No_duplication
It's ok
5351
[5603, 5351]
0
value is 5603
It's not ok
1
value is 386
No_duplication
It's ok
386
0
value is 386
It's ok
386
[386]
0
value is 386
It's not ok
1
value is 793
No_duplication
It's ok
793
0
value is 793
It's ok
793
[793]
0
value is 793
It's not ok
1
value is 1161
No_duplication
It's ok
1161
0
value is 690
No_duplication
It's ok
690
[1161, 690]
0
value is 1161
It's not ok
1
value is 1457
No_duplication
It's ok
1457
0
value is 240
No_duplication
It's ok
240
[1457, 240]
0
value is 1457
It's not ok
1
value is 123
No_duplication
It's ok
123
0
value is 5
No_duplication
It's ok
5
[123, 5]

In [15]:
#(대시보드용 1.) 카테고리 Traffic (세션)
PC_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/RFQ6OlJDT5-6MMKnjtJkcA/a10587421w80067081p84826225/%3F_u.date00%3D20170615%26_u.date01%3D20170615%26_r.tabId%3D419/")
PC_1.set_tab(2)
PC_1.set_value([1,1])
PC_1.get([1,2])

#(대시보드용 1-1.) 티몬 전체 세션 & 전체 카테고리 & 홈->딜
PC_1_1 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/ZcNefO8cTRe75IKFbPcCWw/a10587421w80067081p84826225/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
PC_1_1.set_tab(4)
PC_1_1.set_value([1,1,2,[2,2]])
PC_1_1.get([1,2,3,4])

#(대시보드용 2.) 실시간 항공 메인 > 검색하기
PC_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/KkWuVj5-SCOH7ddtrf4bOA/a10587421w80067081p84826225/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
PC_2.set_tab(2)
PC_2.set_value([2,2])
PC_2.get([1,2])

#(대시보드용 2-2.) 항공 예약하기 클릭
PC_2_2 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/YspUfeZLQ7KyhFzRxehRcQ/a10587421w80067081p84826225/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
PC_2_2.set_tab(2)
PC_2_2.set_value([1,1])
PC_2_2.get([1,2])

#(대시보드용 3.) B.com 카테고리/큐레이션/이벤트
PC_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/jQo-QVnGRrG1Y_Dtaoz0FQ/a10587421w80067081p84826225/%3F_u.date00%3D20170615%26_u.date01%3D20170615/")
PC_3.set_tab(4)
PC_3.set_value([1,2,2,2])
PC_3.get([1,2,3,4])

0
value is 123
It's not ok
1
value is 80010
No_duplication
It's ok
80010
0
value is 80010
It's ok
80010
[80010]
0
value is 80010
It's not ok
1
value is 36254
No_duplication
It's ok
36254
0
value is 36254
It's ok
36254
[36254]
0
value is 36254
It's not ok
1
value is 3287661
No_duplication
It's ok
3287661
0
value is 3287661
It's ok
3287661
[3287661]
0
value is 3287661
It's not ok
1
value is 330166
No_duplication
It's ok
330166
0
value is 330166
It's ok
330166
[330166]
0
value is 330166
It's not ok
1
value is 1274200
No_duplication
It's ok
1274200
0
value is 6517
No_duplication
It's ok
6517
[1274200, 6517]
0
value is 6517
It's not ok
1
value is 3308
No_duplication
It's ok
3308
0
value is 1274200
It's ok
1274200
0
value is 3308
It's ok
3308
[1274200, 3308]
0
value is 1274200
It's not ok
1
value is 13522
No_duplication
It's ok
13522
0
value is 8848
No_duplication
It's ok
8848
[13522, 8848]
0
value is 13522
It's not ok
1
value is 12075
No_duplication
It's ok
12075
0
value is 7285
No_duplication
It's ok
7285
[12075, 7285]
0
value is 12075
It's not ok
1
value is 2049
No_duplication
It's ok
2049
0
value is 2049
It's ok
2049
[2049]
0
value is 2049
It's not ok
1
value is 3088
No_duplication
It's ok
3088
0
value is 3088
It's ok
3088
[3088]
0
value is 3088
It's not ok
1
value is 1758
No_duplication
It's ok
1758
0
value is 1758
It's ok
1758
[1758]
0
value is 1758
It's not ok
1
value is 8541
No_duplication
It's ok
8541
0
value is 463
No_duplication
It's ok
463
[8541, 463]
0
value is 8541
It's not ok
1
value is 3050
No_duplication
It's ok
3050
0
value is 890
No_duplication
It's ok
890
[3050, 890]
0
value is 3050
It's not ok
1
value is 3881
No_duplication
It's ok
3881
0
value is 351
No_duplication
It's ok
351
[3881, 351]

In [16]:
df1_And = pd.concat([And_1.df, And_1_1.df])
df1_iOS = pd.concat([iOS_1.df, iOS_1_1.df])
df1_Moweb = pd.concat([Mo_1.df, Mo_1_1.df])
df1_PC = pd.concat([PC_1.df, PC_1_1.df])

In [17]:
df2_And = pd.concat([And_2.df, And_2_2.df, And_2_3.df])
df2_iOS = pd.concat([iOS_2.df, iOS_2_2.df, iOS_2_3.df])
df2_Moweb = pd.concat([Mo_2.df, Mo_2_2.df, Mo_2_3.df])
df2_PC = pd.concat([PC_2.df, PC_2_2.df])

In [18]:
df3_And = pd.concat([And_3.df, And_3_1.df])
df3_iOS = pd.concat([iOS_3.df, iOS_3_1.df])
df3_Moweb = Mo_3.df
df3_PC = PC_3.df

In [19]:
df1 = pd.concat([df1_And, df1_iOS, df1_Moweb, df1_PC])

In [20]:
df2 = pd.concat([df2_And, df2_iOS, df2_Moweb, df2_PC])

In [21]:
df3 = pd.concat([df3_And, df3_iOS, df3_Moweb, df3_PC])

In [22]:
df1

                        170619 - 170625
And_국내여행·숙박·입장권 (딜리스트)          97471.0
And_해외여행.입장권.패스 (딜리스트)          56670.0
And_실시간 항공/호텔                   36539.0
And_여행카테고리 이용 수                174893.0
And_여행홈                        101183.0
And_여행카테고리                      20953.0
And_전체 이용 수                   7300293.0
And_전체카테고리                     551532.0
iOS_국내여행·숙박·입장권 (딜리스트)          48374.0
iOS_해외여행.입장권.패스 (딜리스트)          23929.0
iOS_항공.호텔                       21635.0
iOS_여행카테고리 이용 수                 83773.0
iOS_여행홈                         39711.0
iOS_여행카테고리                       7989.0
iOS_전체: 이용 수                  2607966.0
iOS_전체: 카테고리 이용 수              351402.0
Mo_국내여행·숙박·입장권 (딜리스트)           25979.0
Mo_해외여행.입장권.패스 (딜리스트)            9585.0
Mo_실시간 항공/호텔                     7092.0
Mo_여행카테고리 이용 수                  29898.0
Mo_전체(신규해외)                     16156.0
Mo_전체: 이용 수                   6782040.0
Mo_전체: 카테고리 이용 수               203864.0
Moweb_홈화면                      700311.0
Moweb_딜상세(국내)                    2470.0
Moweb_딜상세(해외)                     875.0
PC_국내여행·숙박·입장권 (딜리스트)           80010.0
PC_해외여행.입장권.패스 (딜리스트)           36254.0
PC_전체: 이용 수                   3287661.0
PC_전체: 카테고리 이용 수               330166.0
PC_홈화면                        1274200.0
PC_딜상세(국내)                       6517.0
PC_딜상세(해외)                       3308.0

In [23]:
df2

                   170619 - 170625
And_해외 항공 메인화면             30444.0
And_검색하기 클릭(해외)            13729.0
And_국내 항공 메인화면             11040.0
And_검색하기 클릭(국내)             9038.0
And_호텔 검색으로 이동              4331.0
And_국내 항공 메인으로 이동           5714.0
And_여행홈                   101183.0
And_항공검색결과                 11077.0
AD_국내_로딩화면                 28259.0
AD_국내_결과화면 랜딩              27836.0
AD_해외_로딩화면                 22842.0
AD_해외_결과화면 랜딩              22227.0
And_국내 예약하기 클릭              4326.0
And_해외 예약하기 클릭              3836.0
iOS_해외 항공 메인화면             18190.0
iOS_검색하기 클릭(해외)             8579.0
iOS_국내 항공 메인화면              6021.0
iOS_검색하기 클릭(국내)             5007.0
iOS_호텔 검색으로 이동              2821.0
iOS_국내 항공 메인으로 이동           3055.0
iOS_여행홈                    39711.0
iOS_항공검색결과                  3975.0
iOS_국내_로딩화면                13529.0
iOS_국내_결과화면 랜딩             13257.0
iOS_해외_로딩화면                13907.0
IOS_해외_결과화면 랜딩             13416.0
iOS_국내항공 예약하기 클릭            2072.0
iOS_해외항공 예약하기 클릭            2616.0
Mo_해외 항공 메인화면               6207.0
Mo_검색하기 클릭(해외)              1793.0
Mo_국내 항공 메인화면               1647.0
Mo_검색하기 클릭(국내)               846.0
Mo_호텔 검색으로 이동                910.0
Mo_국내 항공 메인으로 이동            1000.0
Moweb_국내_로딩화면               5330.0
Moweb_국내_결과화면 랜딩            5134.0
Moweb_해외_로딩화면               5603.0
Moweb_해외_결과화면 랜딩            5351.0
Mo_국내 예약하기 클릭                386.0
Mo_해외 예약하기 클릭                793.0
PC_해외 항공 메인화면              13522.0
PC_검색하기 클릭(해외)              8848.0
PC_국내 항공 메인화면              12075.0
PC_검색하기 클릭(국내)              7285.0
PC_국내예약하기 클릭                2049.0
PC_해외 예약하기 클릭               3088.0

In [24]:
df3

                                  170619 - 170625
And 카테고리 1. 여행홈 -> B.com(실시간 호텔)           3027.0
And 카테고리 2. 국내호텔 배너클릭                        27.0
And 카테고리 3. 해외호텔 메인 뷰                      5520.0
And 카테고리 3. 호텔메인 검색모듈 -> 이동                3865.0
And 카테고리 4. 국내호텔_3depth                     527.0
And 카테고리 4. 주말특가 클릭                          55.0
And 큐레이션 1. 여행홈 -> B.com                    200.0
And_ 큐레이션 딜 뷰                              4838.0
And_큐레이션 딜 (0원 딜) > B.com 이동               1352.0
And_이벤트 페이지 뷰                             11525.0
And_이벤트페이지 -> 부킹닷컴 이동                       791.0
iOS 카테고리 1. 여행홈 -> B.com(실시간 호텔)              5.0
iOS 카테고리 2.국내호텔배너 클릭                        951.0
iOS 카테고리 3. 해외호텔 메인 뷰                      3559.0
iOS 카테고리 3. 호텔메인 검색모듈 -> 이동                2462.0
iOS 카테고리 4. 국내호텔_3depth                     355.0
iOS 카테고리 4. 주말특가 클릭                          32.0
iOS 큐레이션_여행홈 -> B.com                         0.0
iOS_ 큐레이션 딜 뷰                              2117.0
iOS_큐레이션 딜 (0원 딜) > B.com 이동                583.0
iOS_이벤트 페이지 뷰                              4780.0
iOS_이벤트페이지 -> 부킹닷컴 이동                       338.0
Mo_카테고리_해외호텔 메인 뷰                          1161.0
Mo_카테고리_호텔메인 검색모듈 > B.com 이동                690.0
Mo_큐레이션 딜 뷰                                1457.0
Mo_큐레이션 딜 (0원 딜) > B.com 이동                 240.0
Mo_이벤트 페이지 뷰                                123.0
Mo_이벤트페이지 -> 부킹닷컴 이동                          5.0
PC_카테고리_해외호텔 카테고리 메뉴 > B.com 이동            1758.0
PC_카테고리_국내호텔_3depth                        8541.0
PC_카테고리_주말특가_클릭                             463.0
PC_큐레이션 딜 뷰                                3050.0
PC_큐레이션 딜 (0원 딜) > B.com 이동                 890.0
PC_이벤트페이지 뷰                                3881.0
PC_이벤트 -> 부킹닷컴 이동                           351.0

In [26]:
pd.concat([And_4.df, iOS_4.df, And_5.df])

                        170619 - 170625
And_홈화면                       6875883.0
And_딜상세(국내)                     30701.0
And_딜상세(해외)                      9914.0
And_여행카테고리 숏컷                   18815.0
And_콜렉션 클릭                     400513.0
And_콜렉션(국내)                      5364.0
And_콜렉션(해외)                         2.0
iOS_홈화면                       2177288.0
iOS_딜상세(국내)                      2320.0
iOS_딜상세(해외)                      1489.0
iOS_카테고리숏컷                      15691.0
iOS_콜렉션 클릭                      28998.0
iOS_국내 콜렉션                       1677.0
iOS_해외 콜렉션                         23.0
여행탭                            101183.0
아무거나 클릭                         42748.0
2. 카테고리 클릭                      20953.0
큐레이션 클릭(기획전,테마컨텐츠,티몬픽)           7421.0
항공호텔 검색 클릭                      14303.0

In [20]:
# #국내, 해외, 항공호텔, 전체카테고리
df1 = pd.concat([And_1.df, iOS_1.df, Mo_1.df, PC_1.df])

# #티몬 전체 카테고리
df2 = pd.concat([And_2.df, iOS_2.df, Mo_2.df, PC_2.df])

# #국내딜, 해외딜, 전체딜
#df3 = pd.concat([And_3.df, iOS_3.df, Mo_3.df, PC_3.df])

# #항공검색 해외, 국내, 해외 -> 호텔메인, 해외 -> 국내메인
df4 = pd.concat([And_4.df, iOS_4.df, Mo_4.df, PC_4.df])

# #항공예약클릭 국내, 해외
df5 = pd.concat([And_5.df, iOS_5.df, Mo_5.df, PC_5.df])

# #부킹닷컴
df6 = pd.concat([And_6.df, And_7.df, iOS_6.df,iOS_7.df,Mo_6.df,PC_6.df])

# #홈 -> 딜상세(국내), 해외, 여행카테고리숏컷
df7 = pd.concat([And_8.df, iOS_8.df, Mo_7.df, PC_7.df])

# #홈 -> 콜렉션(국내), 해외
df8 = pd.concat([And_9.df, iOS_9.df])
# #여행홈 -> 카테고리, 항공검결
df9 = pd.concat([And_10.df, iOS_10.df])

# # 실시간 항공 국내/해외 구분
df10 = pd.concat([FIT_search_ad.df, FIT_search_iOS.df, FIT_search_Moweb.df])

In [24]:
# #B.com 카테고리/시스템 큐레이션
# And_6 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/urNzazUpRDu9q-17-qtmtw/a10587421w80067081p102782120/%3F_u.date00%3D20170501%26_u.date01%3D20170507/")
# And_6.set_tab(5)
# And_6.set_value([2,1,1,2,1])
# And_6.set_date(7,3)
# And_6.get([1,2,3,4,5])

# #B.com 매뉴얼 큐레이션/이벤트
# And_7 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/qWyiPek-Tsqgkok-rZsIjA/a10587421w80067081p102782120/%3F_u.date00%3D20170501%26_u.date01%3D20170507%26_r.tabId%3D210/")
# And_7.set_tab(2)
# And_7.set_value([2,2])
# And_7.set_date(7,3)
# And_7.get([1,2])

# #B.com 카테고리/시스템 큐레이션
# iOS_6 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/mzJgxll5SXqATSN_oHrUiQ/a10587421w80067081p88823264/")
# iOS_6.set_tab(5)
# iOS_6.set_value([2,1,1,2,1])
# iOS_6.set_date(7,3)
# iOS_6.get([1,2,3,4,5])

# #B.com 매뉴얼 큐레이션/이벤트
# iOS_7 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/tZRMJC4JRhm_X9Ql6C4KOg/a10587421w80067081p88823264/")
# iOS_7.set_tab(2)
# iOS_7.set_value([2,2])
# iOS_7.set_date(7,3)
# iOS_7.get([1,2])

# #부킹닷컴 큐레이션, 호텔메인, 이벤트
# Mo_6 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/W52iAReKSeydMYwmwkpBbA/a10587421w80067081p89357101/%3F_r.tabId%3D2101/")
# Mo_6.set_tab(3)
# Mo_6.set_value([2,2,2])
# Mo_6.set_date(7,3)
# Mo_6.get([1,2,3])

# # B.com 카테고리/시스템/매뉴얼큐레이션/이벤트
# PC_6 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/jQo-QVnGRrG1Y_Dtaoz0FQ/a10587421w80067081p84826225/%3F_u.date00%3D20170501%26_u.date01%3D20170507%26_r.tabId%3D4292/")
# PC_6.set_tab(3)
# PC_6.set_value([1,2,2,1])
# PC_6.set_date(7,3)
# PC_6.get([1,2,3,4])

In [21]:
# #######월간 여행딜

# #국내, 해외, 여행전체 딜
# And_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/c9agY1srRx2PaD8JAkK0yw/a10587421w80067081p102782120/")
# And_3.set_tab(3)
# And_3.set_value([3,3,3])
# And_3.get([1,2,3])

# And_3.set_segment_url("%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ", "off")
# And_3.set_value([[3,3],[3,3],[3,3]])
# And_3.get([1,2,3])

# #국내딜, 해외딜, 전체딜
# iOS_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/A9m3wyZgQTmxJrO3lQ6UMw/a10587421w80067081p88823264/%3F_u.date00%3D20170327%26_u.date01%3D20170402%26_r.tabId%3D4646%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ/")
# iOS_3.set_tab(3)
# iOS_3.set_value([3,3,3])
# iOS_3.get([1,2,3])

# iOS_3.set_segment_url("%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ", "off")
# iOS_3.set_value([[3,3],[3,3],[3,3]])
# iOS_3.get([1,2,3])

# #여행딜 전체, 국내, 해외
# Mo_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/upJUz96ERVGUIE2WWd8Tgg/a10587421w80067081p89357101/")
# Mo_3.set_tab(3)
# Mo_3.set_value([3,3,3])
# Mo_3.get([1,2,3])

# Mo_3.set_segment_url("%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ", "off")
# Mo_3.set_value([[3,3],[3,3],[3,3]])
# Mo_3.get([1,2,3])

# # 여행 전체, 국내, 해외딜
# PC_3 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/hRoEL4w4RCyYpcmhDbvgWw/a10587421w80067081p84826225/%3F_.useg%3D/")
# PC_3.set_tab(3)
# PC_3.set_value([3,3,3])
# PC_3.get([1,2,3])

# PC_3.set_segment_url("%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ", "off")
# PC_3.set_value([[3,3],[3,3],[3,3]])
# PC_3.get([1,2,3])

In [ ]:
#부킹닷컴 큐레이션, 호텔배너, 주말특가, 검색모듈
And_6 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/urNzazUpRDu9q-17-qtmtw/a10587421w80067081p102782120/%3F_u.date00%3D20170227%26_u.date01%3D20170305%26_.useg%3D/")
And_6.set_tab(4)
And_6.set_value([2,1,2,2])
And_6.get([1,2,3,4])
#부킹닷컴 큐레이션, 호텔배너, 주말특가, 해외호텔검색모듈
iOS_6 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/fiA5QbsjQAeJxkmaYUFJEQ/a10587421w80067081p88823264/")
iOS_6.set_tab(4)
iOS_6.set_value([2,1,2,2])
iOS_6.get([1,2,3,4])
#부킹닷컴 큐레이션, 호텔메인
Mo_6 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/W52iAReKSeydMYwmwkpBbA/a10587421w80067081p89357101/")
Mo_6.set_tab(2)
Mo_6.set_value([2,2])
Mo_6.get([1,2])
# 부킹닷컴 큐레이션, 해외호텔 카테고리, 주말특가
PC_6 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/jQo-QVnGRrG1Y_Dtaoz0FQ/a10587421w80067081p84826225/%3F_.useg%3D/")
PC_6.set_tab(3)
PC_6.set_value([2,1,2])
PC_6.get([1,2,3])

In [14]:
# booking_df_User = pd.concat([And_6.df, iOS_6.df, Mo_6.df, PC_6.df])

In [49]:
# #######월간항공

# #항공검색 해외, 국내, 해외->호텔메인, 해외->국내항공메인
# And_4 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/5fyYOU-QTN6tQSwRlObkUw/a10587421w80067081p102782120/%3F_u.date00%3D20170101%26_u.date01%3D20170301%26_.useg%3Duser-3-OozmyTj6PoaE9MqRGzQ/")
# And_4.set_tab(4)
# And_4.set_value([2,2,[2,2],[2,2]])
# And_4.get([1,2,3,4])

# #항공예약 클릭 국내, 해외 
# And_5 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/_yDrAZzXTaeMOGlYkwqqbw/a10587421w80067081p102782120/%3F_u.date00%3D20170227%26_u.date01%3D20170305%26_.useg%3D%26_r.tabId%3D6028/")
# And_5.set_tab(2)
# And_5.set_value([1,1])
# And_5.get([1,2])

# #항공검색 해외, 국내, 해외 -> 호텔메인, 해외 -> 국내메인
# iOS_4 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/2K60xdJeT2isKsPe4tgpEQ/a10587421w80067081p88823264/%3F_u.date00%3D20170301%26_u.date01%3D20170320/")
# iOS_4.set_tab(4)
# iOS_4.set_value([2,2,[2,2],[2,2]])
# iOS_4.get([1,2,3,4])

# #항공예약클릭 국내, 해외
# iOS_5 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/btj6gUJmQ2-NZsSB1vB3tw/a10587421w80067081p88823264/%3F_u.date00%3D20170301%26_u.date01%3D20170331%26_.useg%3D/")
# iOS_5.set_tab(2)
# iOS_5.set_value([1,1])
# iOS_5.get([1,2])

# #항공검색 해외, 국내, 해외->호텔, 해외->국내
# Mo_4 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/7aMTsZECQu2GVnxwp3IXRg/a10587421w80067081p89357101/")
# Mo_4.set_tab(4)
# Mo_4.set_value([2,2,[2,2],[2,2]])
# Mo_4.get([1,2,3,4])

# #항공예약클릭 국내, 해외
# Mo_5 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/Shs74NpmR1Wcy5isHt_ZGA/a10587421w80067081p89357101/")
# Mo_5.set_tab(2)
# Mo_5.set_value([1,1])
# Mo_5.get([1,2])

# # 항공검색 국내, 해외
# PC_4 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/KkWuVj5-SCOH7ddtrf4bOA/a10587421w80067081p84826225/")
# PC_4.set_tab(2)
# PC_4.set_value([2,2])
# PC_4.get([1,2])

# # 예약클릭 국내, 해외
# PC_5 = GA("https://analytics.google.com/analytics/web/?authuser=0#my-reports/YspUfeZLQ7KyhFzRxehRcQ/a10587421w80067081p84826225/%3F_.useg%3D/")
# PC_5.set_tab(2)
# PC_5.set_value([2,2])
# PC_5.get([1,2])

In [48]:
# pd.concat([And_4.df, And_5.df, iOS_4.df, iOS_5.df, Mo_4.df, Mo_5.df, PC_4.df, PC_5.df])